# 1. From "Email Services" tab in EmailJS dashboard
VITE_APP_EMAILJS_SERVICE_ID=

# 2. From "Email Templates" tab in EmailJS dashboard
VITE_APP_EMAILJS_TEMPLATE_ID=

# 3. From "Account" -> "API Keys" -> "Public Key" tab in EmailJS dashboard
VITE_APP_EMAILJS_PUBLIC_KEY=
